{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        {{ include('@ElaoAccesseo/profiler/179-accessibility.svg.twig') }}
        <span class="sf-toolbar-value">Accessibility</span>

    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>Images with alt attribute / Total images :</b>
            <span>{{ collector.countAltFromImages }} / {{ collector.countAllImages }} </span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Explicit icons / Total icons:</b>
            <span>{{ collector.countAllExplicitIcons }} / {{ collector.countAllIcons }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Total buttons whithout text:</b>
            <span>{{ collector.countMissingTextInButtons }}</span>
        </div>
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}
{% block head %}
    {# Optional. Here you can link to or define your own CSS and JS contents. #}
    {# Use {{ parent() }} to extend the default styles instead of overriding them. #}
    <style>
        .text-warning {
            color: var(--color-warning);
        }
        .tab-navigation li .badge.status-success { background: var(--color-success); color: #FFF; }
    </style>
    <script>
        function getStatusCode(event){
          console.log("coucou");
          const httpRequest = new XMLHttpRequest();
          httpRequest.onreadystatechange = () => {
            if (httpRequest.readyState === 4) {
              if (httpRequest.status === 200) {
                //
                const data = JSON.parse(httpRequest.responseText);
                console.log(data);
                event.target.parentElement.innerHTML = data.template;
              } else {
                //
              }
            }
          };
          httpRequest.open('GET', '{{ path("_accesseo_status_code", {'token' : token}) }}');
          httpRequest.send();
        }

        window.addEventListener('load', () => document.getElementById('giveMeStatusCode').addEventListener('click', getStatusCode));

    </script>
    {{ parent() }}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">
            {{ include('@ElaoAccesseo/profiler/179-accessibility.svg.twig') }}
        </span>
        <strong>Accessibility</strong>
    </span>
{% endblock %}

{% block panel %}
    {# Optional, for showing the most details. #}
    <h2>Accessibility ✨</h2>
{{ dump() }}
    <h3>Images</h3>

    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.countAllImages }}</span>
            <span class="label">Count all images</span>
        </div>
        <div class="metric">
            <span class="value">{{ collector.countAltFromImages }}</span>
            <span class="label">Images with balise alt</span>
        </div>
    </div>

    <h4>Images whithout alt attribute</h4>
    {% if collector.listMissingAltFromImages > 0 %}
        <table>
            <tr>
                <td>
                    {{ profiler_dump(collector.seek('listMissingAltFromImages'), maxDepth=1) }}
                </td>
            </tr>
        </table>
    {% else %}
        <div class="empty">
            <p>Nothing to display</p>
        </div>
    {% endif %}

    <h3>Icons</h3>
    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.countAllIcons }}</span>
            <span class="label">Count all icons</span>
        </div>
        <div class="metric">
            <span class="value">{{ collector.countAllExplicitIcons }}</span>
            <span class="label">Non-explicit icons</span>
        </div>
    </div>

    <h4>Class of icons missing aria-hidden attribute</h4>
    {% if collector.listNonExplicitIcons > 0 %}
        <table>
            <tr>
                <td>
                    {{ profiler_dump(collector.seek('listNonExplicitIcons'), maxDepth=1) }}
                </td>
            </tr>
        </table>
    {% else %}
        <div class="empty">
            <p>Nothing to display</p>
        </div>
    {% endif %}

    <h3>Forms</h3>

    {% if collector.isForm %}
        <table>
            <tr>
            <th>Missing associated label for input</th>
                    <td>
                        {{ profiler_dump(collector.seek('missingAssociatedLabelForInput'), maxDepth=1) }}
                    </td>
            </tr>
        </table>
    {% else %}
        <div class="empty">
            <p>No Forms</p>
        </div>
    {% endif %}

    <h3>Broken external links</h3>

    <div>
        <button id="giveMeStatusCode">Click me please.</button>
    </div>

{% endblock %}
