{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        {{ include('@ElaoAccesseo/profiler/179-accessibility.svg.twig') }}
        <span class="sf-toolbar-value">Accessibility</span>
    {% endset %}

    {% set text %}
        <style>
            .sf-toolbar-status-large {
                margin-left:  10px;
            }

            .sf-toolbar-description {
                margin-left: 10px;
                color: #aaa !important;
                vertical-align: middle !important;
            }

            .sf-toolbar-status + .sf-toolbar-description {
                margin-left: 5px;
            }

            .andi {
                margin: 25px 0 0;
                display: flex !important;
                flex-direction: column;
                align-items: center;
            }

            .andi a {
                color: #f5f5f5 !important;
                text-decoration: underline !important;
                border: none;
            }

            .andi .button {
                margin: 0 0 10px;
                padding: 10px 18px;
                background-color: #607d8b;
                font-size: 13px;
                text-decoration: none !important;
                transition: background-color ease-in .15s;
            }

            .andi .button:hover,
            .andi .button:active,
            .andi .button:focus {
                background-color: #5a7684;
            }
        </style>
        <div class="sf-toolbar-info-piece">
            <b>Meta title</b>
            {% if collector.title is empty %}
                <span class="sf-toolbar-status sf-toolbar-status-large">missing</span>
            {% else %}
                <span class="sf-toolbar-status sf-toolbar-status-large sf-toolbar-status-green">ok</span>
            {% endif %}
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Meta description</b>
            {% if collector.metaDescription is empty %}
                <span class="sf-toolbar-status sf-toolbar-status-large">missing</span>
            {% else %}
                <span class="sf-toolbar-status sf-toolbar-status-large sf-toolbar-status-green">ok</span>
            {% endif %}
        </div>
{#        <div class="sf-toolbar-info-piece">#}
{#            <b>Headings</b>#}
{#            #}{# OK #}
{#            <span class="sf-toolbar-status sf-toolbar-status-large sf-toolbar-status-green">0</span>#}
{#            <span class="sf-toolbar-description">order concerns</span>#}

{#            #}{# Not OK #}
{#            #}{# <span class="sf-toolbar-status sf-toolbar-status-large">2</span>#}
{#            <span class="sf-toolbar-description">order concerns</span> #}
{#        </div>#}
        <div class="sf-toolbar-info-piece">
            <b>Images</b>
            {% if collector.listMissingAltFromImages|length > 0 %}
                <span class="sf-toolbar-status sf-toolbar-status-large">{{ collector.listMissingAltFromImages|length }}</span>
                <span class="sf-toolbar-description">accessibility concerns</span>
           {% else %}
               <span class="sf-toolbar-status sf-toolbar-status-large sf-toolbar-status-green">0</span>
               <span class="sf-toolbar-description">accessibility concerns</span>
            {% endif %}
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Navigation landmark role</b>
            {# No OK / not OK here, this is just a piece of info #}
            <span class="sf-toolbar-status sf-toolbar-status-large">{{ collector.navigationElements|length }}</span>
            <span class="sf-toolbar-description">found</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Form accessibility</b>
            {% if collector.countMissingLabelsInForms > 0 %}
                <span class="sf-toolbar-status sf-toolbar-status-large">{{ collector.countMissingLabelsInForms }}</span>
                <span class="sf-toolbar-description">accessibility concerns</span>
            {% else %}
                <span class="sf-toolbar-status sf-toolbar-status-large sf-toolbar-status-green">0</span>
                <span class="sf-toolbar-description">accessibility concerns</span>
            {% endif %}
        </div>
        <div class="sf-toolbar-info-piece andi">
            <a href="javascript:void((function(){andiScript=document.createElement('script');andiScript.setAttribute('src','https://www.ssa.gov/accessibility/andi/andi.js');document.body.appendChild(andiScript)})());" class="button">Launch ANDI</a>
            <a href="https://www.ssa.gov/accessibility/andi/help/install.html">What is ANDI ?</a>
        </div>
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}
{% block head %}
    {# Optional. Here you can link to or define your own CSS and JS contents. #}
    {# Use {{ parent() }} to extend the default styles instead of overriding them. #}
    <style>
        .text-error { color: var(--color-error); }

        .card.status-info { background-color: rgba(32, 139, 195, .2); }

        .code-inline { display: inline-block; }

        .tab-navigation li, .tab-navigation li * { vertical-align: middle; }

        table td, table td * { vertical-align: middle; }
        table ul li { margin: 0; }
        table .small-cell { width: 45px; }
        table .medium-cell { width: 300px; }
        table .large-cell { width: unset; }

        .icon-danger {
            display: inline-flex;
            fill: var(--base-5);
            background: #fff !important;
            border-radius: 50px;
        }

        .icon-danger.status-error {
            fill: var(--color-error);
        }

        .sf-tabs .icon-danger {
            vertical-align: middle;
            border: solid 1px #fff;
        }
    </style>
    <script>
        function discoverLinks() {
            const badgeSuccess = document.getElementById('badge-success');
            const badgeErrors = document.getElementById('badge-errors');
            const badgeRedirections = document.getElementById('badge-redirections');

            Array.from(document.getElementById('invalid').children).forEach(item => {
              const request = new Request(item.innerText);

              fetch(request).then((response) => {
                document.getElementById(response.status).appendChild(item);

                badgeErrors.innerText = Array.from(document.getElementsByClassName('type-errors')).reduce((total, element) => total + element.childElementCount, 0);
                badgeSuccess.innerText = Array.from(document.getElementsByClassName('type-success')).reduce((total, element) => total + element.childElementCount, 0);
                badgeRedirections.innerText = Array.from(document.getElementsByClassName('type-redirections')).reduce((total, element) => total + element.childElementCount, 0);
              });

            });
        }
        function getStatusCode(event){
          const httpRequest = new XMLHttpRequest();
          const div = event.target.parentElement;
          httpRequest.onreadystatechange = () => {
            if (httpRequest.readyState === 4) {
              if (httpRequest.status === 200) {
                const data = JSON.parse(httpRequest.responseText);

                div.innerHTML = data.template;

                Sfjs.createTabs();

                discoverLinks();
              }
            }
          };
          httpRequest.open('GET', '{{ path("_accesseo_status_code", {'token' : token}) }}');
          httpRequest.send();
          div.innerHTML = "<i>Loading...</i>";
        }

        window.addEventListener('load', () => document.getElementById('giveMeStatusCode').addEventListener('click', getStatusCode));

    </script>
    {{ parent() }}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">
            {{ include('@ElaoAccesseo/profiler/179-accessibility.svg.twig') }}
        </span>
        <strong>Accessibility</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Accessibility</h2>

    {{ include('@ElaoAccesseo/profiler/headings_elements.html.twig') }}

    <h3>Images</h3>
    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.countAllImages }}</span>
            <span class="label"><code class="code-inline">&lt;img/&gt;</code></span>
        </div>
        {#
            Todo : count all background images. In the HTML, look for :

            - style="background: url(image.png)"
            - style="background: url('image.png')"
            - style="background: url("image.png")"
            - style="background-image: url(image.png)"
            - style="background-image: url('image.png')"
            - style="background-image: url("image.png")"

            <div class="metric">
                <span class="value">6</span>
                <span class="label"><code class="code-inline">inline <br> background-image</code></span>
            </div>
        #}

        {#
            Todo : count total image weight

            <div class="metric">
                <span class="value">500 <span class="unit">Ko</span></span>
                <span class="label"><code class="code-inline">total image weight</code></span>
            </div>
        #}
    </div>
    {#
        Todo if there is no <img> nor CSS background-image on the page :
        <div class="empty">
            <p>No images found on this page</p>
        </div>
    #}

    <br>

    <h3>Alternative text</h3>
    <p class="text-muted">All images should have an alt attribute. If an image has meaning, you should provide a concise alternative text to describe it. If it's decorative, add the alt attribute and leave it empty. More about <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Img#attributes" target="_blank">the alt attribute</a>.</p>

    <br>

    <div class="sf-tabs">
        {# Images with an alt #}
        <div class="tab">
            <span class="tab-title">
                <span class="badge">{{ collector.countAltFromImages }}</span>
                images with alt text
            </span>
            <div class="tab-content">
                {% if collector.countAltFromImages > 1 %}
                    <div class="card status-info">
                        <strong>Make sure the alt text is meaningful.</strong>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Image URL</th>
                                <th>Alt text</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for key, img in collector.listImgUrlAndAlt %}

                            {% if img.alt is not empty  %}
                            {% set counter = ( counter | default(0) ) + 1 %}
                            <tr>
                                <td class="font-normal text-muted nowrap small-cell">{{ counter }}</td>
                                <td class="break-long-words">{{ img.html }}</td>
                                <td class="font-normal">{{ img.alt }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <div class="empty">
                            <p>No image with an alt attribute found on this page</p>
                        </div>
                {% endif %}
            </div>
        </div>

            <div class="tab">
                <span class="tab-title">
                    <span class="badge">{{ collector.listMissingAltFromImages.emptyAlt|length }}</span>
                    images with empty alt text
                </span>
                <div class="tab-content">
                    {% if collector.listMissingAltFromImages.emptyAlt|length > 0 %}
                        <div class="card status-info">
                            <strong>Make sure the images are decorative. If they mean something, describe them in the alt attribute.</strong>
                        </div>
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Image URL</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for key, img in collector.listMissingAltFromImages.emptyAlt %}
                            {% set counter = ( counter | default(0) ) + 1 %}

                            <tr>
                                <td class="font-normal text-muted nowrap small-cell">{{ counter }}</td>
                                <td>{{ img }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% else %}
                        <div class="empty">
                            <p>No image with an empty alt attribute found on this page</p>
                        </div>
                    {% endif %}

                </div>
            </div>

            <div class="tab">
                <span class="tab-title">
                    <span class="badge">{{ collector.listMissingAltFromImages.missingAlt|length }}</span>
                    images with no alt text
                </span>
                <div class="tab-content">
                    {% if collector.listMissingAltFromImages.missingAlt|length > 0 %}
                        <div class="card status-info">
                            <strong>Make sure the images are decorative. If they mean something, describe them in the alt attribute.</strong>
                        </div>
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Image URL</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for key, img in collector.listMissingAltFromImages.missingAlt %}
                            {% set counter = ( counter | default(0) ) + 1 %}
                            <tr>
                                <td class="font-normal text-muted nowrap small-cell">{{ counter }}</td>
                                <td>{{ img }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% else %}
                        <div class="empty">
                            <p>No image with an empty alt attribute found on this page</p>
                        </div>
                    {% endif %}

                </div>
            </div>

            <div class="tab">
                <span class="tab-title">
                    {{ include('@ElaoAccesseo/profiler/danger.svg') }}
                    <span class="badge">{{ collector.listImagesUrlAndAltTooLong|length }}</span>
                    alt text has + 80 char.
                </span>
                <div class="tab-content">
                    {% if collector.listImagesUrlAndAltTooLong|length > 0 %}
                    <div class="card status-warning">
                        <strong>Warning : too much alt text might interrupt the reading flow for screen reader users.</strong>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Image URL</th>
                                <th>Alt text</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for key, img in collector.listImagesUrlAndAltTooLong %}
                                {% set counter = ( counter | default(0) ) + 1 %}
                                <td class="font-normal text-muted nowrap small-cell">{{ counter }}</td>
                                <td>{{ img.img }}</td>
                                <td class="font-normal">{{ img.alt }}</td>
                                {% endfor %}
                            </tr>

                        </tbody>
                    </table>
                    {% else %}
                    <div class="empty">
                        <p>None of your images seem to have too much alt text</p>
                    </div>
                    {% endif %}
                </div>
            </div>
    </div>

    <br>

    {#
        Todo : inline background images

        <h3>Inline background images</h3>
        <p class="text-muted">CSS displayed images (using the background-image property) must always have a decorative purpose.<strong> If an image means something, it cannot be displayed using CSS</strong>, it has to be an HTML &lt;img /&gt;.</p>


        If there is at least one inline background image
        <div class="card status-info"><strong>Make sure the images are decorative.</strong></div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image URL</th>
                </tr>
            </thead>
            <tr>
                <td class="font-normal text-muted nowrap small-cell">1</td>
                <td>https://elao.com/build/images/pages/home/<strong>workshop-team.jpg</strong></td>
            </tr>
            <tr>
                <td class="font-normal text-muted nowrap small-cell">1</td>
                <td>https://elao.com/build/images/pages/home/<strong>workshop-team.jpg</strong></td>
            </tr>
        </table>

        If there are no background images
        <div class="empty">
            <p>No inline background images found on this page.</p>
        </div>

        <br>
    #}


    {#
        Todo liste des images et leur poids

        <h3>Images performance</h3>
        <div class="card status-info"><strong>Images should be as light as possible.</strong></div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image URL</th>
                    <th>Image weight</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="font-normal text-muted nowrap small-cell">1</td>
                    <td>https://elao.com/build/images/pages/home/<strong>workshop-team.jpg</strong></td>
                    <td>
                        <span class="font-normal">47 Ko</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-normal text-muted nowrap small-cell">2</td>
                    <td>https://elao.com/build/images/pages/home/<strong>workshop-team.jpg</strong></td>
                    <td>
                        <span class="font-normal">47 Ko</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
    #}

    <h3>Font Icons</h3>
    <p class="text-muted">Font icons rely on a font character displayed in CSS with a :before or an :after. Since <strong>CSS displayed text is not accessible to screen readers</strong>, they should be explicitly hidden with the HTML atttribute aria-hidden="true". More about <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-hidden_attribute" target="_blank">the aria-hidden attribute</a>.</p>
    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.countAllIcons }}</span>
            <span class="label">Icons found</span>
        </div>
        <div class="metric">
            <span class="value">{{ collector.countAllExplicitIcons }}</span>
            <span class="label">visible to screen readers</span>
        </div>
    </div>
    {% if collector.listNonExplicitIcons is not empty %}
        <div class="card status-info"><strong>These icons are missing the aria-hidden attribute (to hide them from screen readers).</strong></div>
        <table>
            <thead>
                <th>#</th>
                <th>Tag</th>
            </thead>
            <tbody>
               {% for key, icone in collector.listNonExplicitIcons %}
                   {% set counter = ( counter | default(0) ) + 1 %}

                   <tr>
                        <td class="font-normal text-muted nowrap small-cell">{{ counter }}</td>
                        <td>{{ icone.html }}</td>
                   </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="empty">
            <p>No icons found on this page.</p>
        </div>
    {% endif %}

    <br>

    <h3>ARIA : Navigation Role</h3>

    <p class="text-muted">Identify major groups of links used for navigation, using navigation landmark role(div with role=navigation or nav elements) for the page. More about the navigation role on <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Navigation_Role">MDN Web Docs</a>.</p>
    {%  if collector.navigationElements is not empty %}
        <p>Found {{ collector.navigationElements|length }} navigation roles:</p>

        <table>
            <thead>
                <tr>
                    <th>Tag</th>
                    <th>Links</th>
                    <th>Aria label</th>
                </tr>
            </thead>
            <tbody>
                {% for navigation in collector.navigationElements %}
                    <tr>
                        <td>{{ navigation.tag }}</td>
                        <td>
                            <ul>
                                {% for link in navigation.links %}
                                    <li>{{ link }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            {% if navigation.ariaLabel %}
                                {{ navigation.ariaLabel }}
                            {% else %}
                                <div class="card status-warning">
                                    <strong>Missing</strong>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="empty">
            <p>No navigation role found on this page</p>
        </div>
    {% endif %}

    <h3>Forms</h3>
    <p class="text-muted">An input <strong>should always have a label</strong> do users can know what is expected of them. This is especially true for screen readers users as they won't have access to the input placeholder. To do so, an input must have an <code class="code-inline">id</code> and its label a <code class="code-inline">for</code> attribue targeting this <code class="code-inline">id</code>. More about <a href="https://developer.mozilla.org/fr/docs/Web/HTML/Element/Input#accessibilit%C3%A9" target="_blank">accessible forms</a>.</p>
    {% if collector.isForm %}
         <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th class="medium-cell">Form element</th>
                    <th class="medium-cell">Label</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for formrow in collector.associatedLabelForInput %}
                        <td class="font-normal text-muted nowrap small-cell">1</td>
                        <td>
                            <pre><code>{{ formrow.html }}</code></pre>
                        </td>
                        {% if formrow.label is not empty %}
                            <td>{{ formrow.label }}</td>
                        {% elseif formrow.name is not empty %}
                            <td>
                                <span class="icon-danger status-error">
                                    {{ include('@ElaoAccesseo/profiler/danger.svg') }}
                                </span>
                                <strong class="text-error">Missing label</strong>
                            </td>
                        {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div class="empty">
            <p>No forms found on this page.</p>
        </div>
    {% endif %}

    <br>

    {# Todo : move to SEO #}
    <h2>Status code of external & internal links</h2>
    <div>
        <button class="sf-toggle btn btn-sm sf-toggle-off" id="giveMeStatusCode">Discover links</button>
    </div>

{% endblock %}
