<h3>Page structure</h3>
<table>
    <tbody>
    <tr>
        <th class="font-normal">Title in head</th>
        <td>
            {{ collector.title }}
            {% if collector.title|length == 0 %}
                <div class="card status-warning">
                    <strong>Warning : missing title (recommended : 50 - 60 characters)</strong>
                </div>
            {% else %}
                <p>
                    <small class="text-muted font-normal">{{ collector.title|length }} characters (recommended : 50 - 60 characters)</small>
                </p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th class="font-normal">Meta description</th>
        <td>
            {{ collector.metaDescription }}
            {% if collector.metaDescription|length == 0 %}
                <div class="card status-warning">
                    <strong>Warning : meta description is missing (recommended : 50 - 160 characters)</strong>
                </div>
            {% else %}
                <p>
                    <small class="text-muted font-normal">{{ collector.metaDescription|length }} characters (recommended : 50 - 160 characters)  </small>
                </p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th class="font-normal">Level 1 title</th>
        <td>
            {% if collector.h1 is empty %}
                <div class="card status-warning">
                    <span class="font-normal">Warning: no H1 found in this page.</span>
                </div>
            {% else %}
                <span>{{ collector.h1 }}</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th class="font-normal">All headings</th>
        {% if collector.headlinesTree %}
        <td>
            {% set headings = collector.headlinesTree %}
            {% set level = 1 %}
            {% block treeHeading %}
                <ul class="headings-tree">
                    {% for heading in headings %}
                        <li>
                            {% if level != heading.level %}
                                <span class="icon-danger status-error text-warning">
                                    {{ include('@ElaoAccesseo/profiler/danger.svg') }}
                                    [h{{ heading.level }}]
                                </span>
                                <span> {{ heading.content }}</span>
                            {% else %}
                                h{{ heading.level }} - {{ heading.content }}
                            {% endif %}
                        </li>
                        {% set headings = heading.children %}
                        {% set level = level+1 %}
                        {{ block ("treeHeading") }}
                        {% set level = level-1 %}
                    {% endfor %}
                </ul>
            {% endblock %}
        </td>
    {% else %}
        <td>
            <div class="empty">
                <p>No headings found on this page</p>
            </div>
        </td>
    {% endif %}
    </tbody>
    </tr>
</table>
