{% macro display_microdata(values, prefix = 0) %}

    {% for key, value in values %}
        {% if value.type == 'string'%}
            <tr class="property-level-{{ prefix }}">
                <th class="medium-cell property-level-[{{ prefix }}]">├ {{ key }}</th>
                <td>{{ value }}</td>
            </tr>
        {% elseif value.type == 'array'%}
            {% for item in value %}
                {{ _self.display_microdata(item.values, prefix) }}
            {% endfor %}
        {% elseif value.type is defined %}
            <tr class="property-level-{{ prefix }}">
                <th class="medium-cell"><a href="https://schema.org/{{ key }}" target="_blank">├ {{ key }}</a></th>
                <td><!-- contains other items, leave blank (sub-items will be detailed under) --></td>
            </tr>
            {{ _self.display_microdata(value.values, prefix + 1) }}
        {% elseif value is iterable %}
            {% for key, item in value %}
                <!-- add css class property-level-[level] -->
                <tr class="property-level-{{ prefix }}">
                    <th class="medium-cell">├ {{ key }}</th>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}

{% endmacro display_microdata %}
