{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}

    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        {{ include('@ElaoAccesseo/profiler/204-link.svg.twig') }}
        <span class="sf-toolbar-value">SEO</span>

    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>Title</b>
            <span>{{ collector.title }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Meta Description</b>
            <span>{{ collector.metaDescription }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>First H1 found</b>
            {% if collector.atLeastOneH1 %}
                <span>{{ collector.h1 }}</span>
            {% else %}
                <span>No H1 found</span>
            {% endif %}
        </div>
        <div class="sf-toolbar-info-piece">
            <b>X-Robots-Tag</b>
            <span>{{ collector.XRobotsTag }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Robots <meta> tag</b>
            <span>{{ collector.metaRobot }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Canonical</b>
            {% if collector.canonical %}
                <span>{{ collector.canonical }}</span>
            {% else %}
                <span class="help">No canonical</span>
            {% endif %}
        </div>
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}
{% block head %}
    {# Optional. Here you can link to or define your own CSS and JS contents. #}
    {# Use {{ parent() }} to extend the default styles instead of overriding them. #}
    {{ parent() }}
    <style>
        .text-warning {
            color: var(--color-warning);
        }
        .tab-navigation li .badge.status-success { background: var(--color-success); color: #FFF; }
    </style>
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">
            {{ include('@ElaoAccesseo/profiler/204-link.svg.twig') }}
        </span>
        <strong>SEO</strong>
    </span>
{% endblock %}

{% block panel %}
    {# Optional, for showing the most details. #}
    <h2>SEO insights ✨</h2>

    <h3>SEO main optimizations</h3>
        <table>
            <tr>
                <th>Title</th>
                <td>{{ profiler_dump(collector.seek('title')) }}</td>
            </tr>
            <tr>
                <th>Meta description</th>
                <td>{{ profiler_dump(collector.seek('metaDescription')) }}</td>
            </tr>
            <tr>
                <th>First H1</th>
                <td>{{ profiler_dump(collector.seek('h1')) }}</td>
            </tr>
            <tr>
                <th>Headings</th>
                <td>
                    {% set headings = collector.headlinesTree %}
                    {% set level = 1 %}
                    {% block treeHeading %}
                        <div>
                            <ul>
                                {% for heading in headings %}
                                    <li>
                                        <span class="{{ level != heading.level ? 'text-warning' }}">
                                            H{{ heading.level }}: {{ heading.content }}
                                        </span>
                                    </li>
                                    {% set headings = heading.children %}
                                    {% set level = level+1 %}
                                    {{ block ("treeHeading") }}
                                    {% set level = level-1 %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endblock %}
                </td>

            </tr>
        </table>

        <h3>Directives for robots</h3>
            <div class="metrics">
                <div class="metric">
                    <span class="value">
                    {% if collector.canonical %}
                        <a href="{{ collector.canonical }}">{{ collector.canonical }}</a>
                    {% else %}
                        {{ include('@WebProfiler/Icon/no-gray.svg') }}
                    {% endif %}
                    </span>
                    <span class="label">Canonical</span>
                </div>
                <div class="metric">
                    <span class="value">
                    {% if collector.language %}
                        {{ collector.language }}
                    {% else %}
                        {{ include('@WebProfiler/Icon/no-gray.svg') }}
                    {% endif %}
                    </span>
                    <span class="label">Language</span>
                </div>
                <div class="metric">
                    <span class="value">
                        {% if collector.XRobotsTag %}
                            {{ collector.XRobotsTag }}
                        {% else %}
                            {{ include('@WebProfiler/Icon/no-gray.svg') }}
                        {% endif %}
                    </span>
                    <span class="label">X-Robots-Tag</span>
                </div>
                <div class="metric">
                    <span class="value">
                        {% if collector.isHreflang %}
                            {{ include('@WebProfiler/Icon/yes.svg') }}
                        {% else %}
                            {{ include('@WebProfiler/Icon/no-gray.svg') }}
                        {% endif %}
                    </span>
                    <span class="label">Hreflang</span>
                </div>
            </div>
            <table>
                <tr>
                    <th>Meta Robots</th>
                    <td>{{ profiler_dump(collector.seek('metaRobot')) }}</td>
                </tr>
                <tr>
                    <th>Meta Googlebot</th>
                    <td>{{ profiler_dump(collector.seek('metaGooglebot')) }}</td>
                </tr>
                <tr>
                    <th>Meta Googlebot-news</th>
                    <td>{{ profiler_dump(collector.seek('metaGooglebotNews')) }}</td>
                </tr>
            </table>

    <h3>Hreflang</h3>

    {% if collector.isHrefLang %}
        <table>
        {% for href in collector.hreflang %}
            <tr>
                <th>{{ href['hreflang'] }}</th>
                <td>
                    <a href="{{ href['href'] }}">{{ href['href'] }}</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <div class="empty">
            <p>No hreflang tags</p>
        </div>
    {% endif %}

    <h3>Share on Social Media</h3>

    <div class="metrics">
        <div class="metric">
            <span class="value">
                {% if collector.OpenGraphLevel == 'completed' %}
                    {{ include('@WebProfiler/Icon/yes.svg') }}
                {% else %}
                    {{ include('@WebProfiler/Icon/no-gray.svg') }}
                {% endif %}
            </span>
            <span class="label">OpenGraph</span>
        </div>
        <div class="metric">
            <span class="value">
                {% if collector.twitterPropertiesLevel == 'completed' %}
                    {{ include('@WebProfiler/Icon/yes.svg') }}
                {% else %}
                    {{ include('@WebProfiler/Icon/no-gray.svg') }}
                {% endif %}
            </span>
            <span class="label">Twitter card</span>
        </div>
    </div>

    <div class="sf-tabs">
        <div class="tab">
            <h4 class="tab-title">
                Opengraph
                <span class="badge {{ collector.OpenGraphLevel == 'completed' ? 'status-success' }}">
                    {{ collector.OpenGraphProperties|length }}
                </span>
            </h4>
            <div class="tab-content">
                <table>
                    <tr>
                        <th>Fulfilled properties</th>
                        <td>
                            {{ profiler_dump(collector.seek('OpenGraphProperties'), maxDepth=1) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Missing properties</th>
                        <td>
                            {{ profiler_dump(collector.seek('missingOpenGraphProperties'), maxDepth=1) }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="tab">
            <h4 class="tab-title">Twitter
                card
                <span class="badge {{ collector.twitterPropertiesLevel == 'completed' ? 'status-success' }}">
                    {{ collector.twitterProperties|length }}
                </span>
            </h4>
            <div class="tab-content">
                <table>
                    <tr>
                        <th>Fulfilled properties</th>
                        <td>
                            {{ profiler_dump(collector.seek('twitterProperties'), maxDepth=1) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Missing properties</th>
                        <td>
                            {{ profiler_dump(collector.seek('missingTwitterProperties'), maxDepth=1) }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
