{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}

    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        {{ include('@ElaoAccesseo/profiler/204-link.svg.twig') }}
        <span class="sf-toolbar-value">SEO</span>

    {% endset %}

    {% set text %}
        <style>
            .sf-toolbar-status-large {
                margin-left:  10px;
            }

            .sf-toolbar-description {
                margin-left: 10px;
                color: #aaa !important;
                vertical-align: middle !important;
            }

            .sf-toolbar-status + .sf-toolbar-description {
                margin-left: 5px;
            }
        </style>
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>Meta title</b>
           {% if collector.title is empty %}
               <span class="sf-toolbar-status sf-toolbar-status-large">missing</span>
            {% else %}
                <span class="sf-toolbar-status sf-toolbar-status-large sf-toolbar-status-green">ok</span>
            {% endif %}
        </div>
        <div class="sf-toolbar-info-piece">
             <b>Meta description</b>
            {% if collector.metaDescription is empty %}
                <span class="sf-toolbar-status sf-toolbar-status-large">missing</span>
            {% else %}
                <span class="sf-toolbar-status sf-toolbar-status-large sf-toolbar-status-green">ok</span>
            {% endif %}
        </div>
{#        <div class="sf-toolbar-info-piece">#}
{#            <b>Headings</b>#}
{#            #}{# OK #}
{#            <span class="sf-toolbar-status sf-toolbar-status-large sf-toolbar-status-green">0</span>#}
{#            <span class="sf-toolbar-description">order concerns</span>#}

{#            #}{# Not OK #}
{#            #}{# <span class="sf-toolbar-status sf-toolbar-status-large">2</span>#}
{#            <span class="sf-toolbar-description">order concerns</span> #}
{#        </div>#}
        <div class="sf-toolbar-info-piece">
            <b>Canonical URL</b>
            <span class="sf-toolbar-description">{{ collector.canonical }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Language</b>
            <span class="sf-toolbar-status sf-toolbar-status-large">{{ collector.language }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Hreflang</b>
            {% if collector.hreflang|length > 0 %}
                <span class="sf-toolbar-status sf-toolbar-status-large">{{ collector.hreflang|length }}</span>
            {% else %}
                <span class="sf-toolbar-status sf-toolbar-status-large">0</span>
            {% endif %}
            <span class="sf-toolbar-description">found</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Robots meta directives</b>
                {% if collector.metaRobot is empty %}
                    <span class="sf-toolbar-status sf-toolbar-status-large">missing</span>
                {% else %}
                    <span class="sf-toolbar-description">{{ collector.metaRobot }}</span>
                {% endif %}
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Googlebot meta directives</b>
            {% if collector.metaGooglebot is empty %}
                <span class="sf-toolbar-status sf-toolbar-status-large">missing</span>
            {% else %}
                <span class="sf-toolbar-description">{{ collector.metaGooglebot }}</span>
            {% endif %}
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Googlebot-news meta directives</b>
            {% if collector.metaGooglebotNews is empty %}
                <span class="sf-toolbar-status sf-toolbar-status-large">missing</span>
            {% else %}
                <span class="sf-toolbar-description">{{ collector.metaGooglebotNews }}</span>
            {% endif %}
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Qualified outbound links</b>
            {% if collector.qualifiedOutboundLinks|length > 0 %}
                <span class="sf-toolbar-status sf-toolbar-status-large">{{ collector.qualifiedOutboundLinks|length }}</span>
            {% else %}
                <span class="sf-toolbar-status sf-toolbar-status-large">0</span>
            {% endif %}
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Opengraph</b>
           {% if collector.missingOpenGraphProperties|length > 0 %}
               <span class="sf-toolbar-status sf-toolbar-status-large sf-toolbar-status-yellow">{{ collector.OpenGraphProperties|length }} / {{ collector.OpenGraphProperties|length + collector.missingOpenGraphProperties|length }}</span>
               <span class="sf-toolbar-description">metas</span>
           {% else %}
               <span class="sf-toolbar-status sf-toolbar-status-large sf-toolbar-status-green">{{ collector.OpenGraphProperties|length }} / {{ collector.OpenGraphProperties|length }}</span>
          {% endif %}
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Twitter card</b>
            {% if collector.missingTwitterProperties|length > 0 %}
                <span class="sf-toolbar-status sf-toolbar-status-large sf-toolbar-status-yellow">{{ collector.twitterProperties|length }} / {{ collector.twitterProperties|length + collector.missingTwitterProperties|length }}</span>
                <span class="sf-toolbar-description">metas</span>
            {% else %}
                <span class="sf-toolbar-status sf-toolbar-status-large sf-toolbar-status-green">{{ collector.twitterProperties|length }} / {{ collector.twitterProperties|length }}</span>
            {% endif%}
        </div>
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}
{% block head %}
    {# Optional. Here you can link to or define your own CSS and JS contents. #}
    {# Use {{ parent() }} to extend the default styles instead of overriding them. #}
    {{ parent() }}
    <style>
        .text-warning { color: var(--color-warning); }
        .text-error { color: var(--color-error); }

        .tab-navigation li .badge.status-success { background: var(--color-success); color: #FFF; }

        .card.status-info { background-color: rgba(32, 139, 195, .2); }

        .code-inline { display: inline-block; }

        table ul li,
        table p { margin: 0; }
        table .small-cell { width: 45px; }
        table .thead th {
            background-color: var(--table-header);
        }

        .icon-danger {
            fill: var(--base-5);
            background: #fff !important;
            border-radius: 50px;
        }

        .icon-danger.status-error {
            fill: var(--color-error);
        }

        .sf-tabs .icon-danger {
            vertical-align: middle;
            border: solid 1px #fff;
        }

        .headings-tree {
            padding: 0 0 0 20px;
            list-style:  none;
        }

        .headings-tree:first-child {
            padding:  0;
        }
    </style>
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">
            {{ include('@ElaoAccesseo/profiler/204-link.svg.twig') }}
        </span>
        <strong>SEO</strong>
    </span>
{% endblock %}

{% block panel %}
    {# Optional, for showing the most details. #}
    <h2>SEO insights ✨</h2>

    {{ include('@ElaoAccesseo/profiler/headings_elements.html.twig') }}

    <h3>Robots directives</h3>
    {# Todo : if missing meta, show alert (mandatory meta) or warning (recommended meta)
        <div class="card status-warning">
            <strong>Warning : Missing hreflang on this page.</strong>
        </div>
        <div class="card status-error">
            <strong>Error : Missing XRobotsTag on this page.</strong>
        </div>
    #}
    <table>
        <tr>
            <th class="font-normal text-muted">Canonical URL (<a href="https://moz.com/learn/seo/canonicalization">more informations</a>)</th>
            {% if collector.canonical %}
                <td class="font-normal">
                    <a href="{{ collector.canonical }}">{{ collector.canonical }}</a>
                </td>
            {% else %}
                <td class="font-normal">
                    No data
                </td>
            {% endif %}
        </tr>
        <tr>
            <th class="font-normal text-muted">Language (<a href="https://www.w3.org/International/articles/language-tags/">more informations</a>)</th>
            {% if collector.language %}
                <td class="font-normal">{{ collector.language }}</td>
            {% else %}
                <td class="font-normal">
                    No data
                </td>
            {% endif %}
        </tr>
        <tr>
            <th class="font-normal text-muted">Hreflang (<a href="https://developers.google.com/search/docs/advanced/crawling/consolidate-duplicate-urls">more informations</a>)</th>
            {% if collector.isHrefLang %}
                <td class="font-normal">
                    {% for href in collector.hreflang %}
                        <div>
                            {{ href['hreflang'] }}
                            (<a href="{{ href['href'] }}">{{ href['href'] }}</a>)
                        </div>
                    {% endfor %}
                </td>
            {% else %}
                <td class="font-normal">No data</td>
            {% endif %}
        </tr>
        <tr>
            <th class="font-normal text-muted">Robots meta directives (<a href="https://moz.com/learn/seo/robots-meta-directives">more informations</a>)</th>
            {% if collector.metaRobot %}
                <td class="font-normal">{{ collector.metaRobot }}</td>
            {% else %}
                <td class="font-normal">
                    No data
                </td>
            {% endif %}
        </tr>
        <tr>
            <th class="font-normal text-muted">Googlebot meta directives (<a href="https://developers.google.com/search/docs/advanced/robots/robots_meta_tag">more informations</a>)</th>
            {% if collector.metaGooglebot %}
                <td class="font-normal">{{ collector.metaGooglebot }}</td>
            {% else %}
                <td class="font-normal">
                    No data
                </td>
            {% endif %}
        </tr>
        <tr>
            <th class="font-normal text-muted">Googlebot-news meta directives (<a href="https://developers.google.com/search/docs/advanced/robots/robots_meta_tag">more informations</a>)</th>
            {% if collector.metaGooglebotNews %}
                <td class="font-normal">{{ collector.metaGooglebotNews }}</td>
            {% else %}
                <td class="font-normal">
                    No data
                </td>
            {% endif %}
        </tr>
    </table>

    <h3>Qualified outbound links</h3>
    <p class="text-muted">You might want to tell search engine robots how to interpret the relationship with the linked page, using `rel` attribute values in the &lt;a&gt; tag. <a href="https://developers.google.com/search/docs/advanced/guidelines/qualify-outbound-links?hl=en">More informations on Google's official documentation.</a></p>
    {% if collector.qualifiedOutboundLinks is empty %}
        <div class="empty">
            <p>No outbound links found on this page</p>
        </div>
    {% else %}
    <table>
        <thead>
        <tr>
            <th>href</th>
            <th>text</th>
            <th>rel attribute</th>
        </tr>
        </thead>
        <tbody>
        {% for link in collector.qualifiedOutboundLinks %}
        <tr>
            <td>
                {% if link.href is empty %}
                    <span class="icon-danger status-error">
                        {{ include('@ElaoAccesseo/profiler/danger.svg') }}
                    </span>
                    <strong class="text-error">Missing link</strong>
                {% else %}
                    {{ link.href }}
                {% endif %}
            </td>
            <td>{{ link.text }}</td>
            <td>{{ link.rel }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <h3>Social Media metas</h3>
    <div class="sf-tabs">
        <div class="tab">
            <span class="tab-title">
                {% if collector.missingOpenGraphProperties|length > 0 %}
                    {{ include('@ElaoAccesseo/profiler/danger.svg') }}
                {% endif %}
                Opengraph properties
            </span>
            <div class="tab-content">
                {% if collector.missingOpenGraphProperties|length > 0 %}
                 <div class="card status-warning">
                    <strong>Warning : missing {{ collector.missingOpenGraphProperties|join(', ') }}  in Opengraph properties</strong>
                </div>
                {% endif %}

                <table>
                    {% if collector.OpenGraphProperties|length > 0 %}
                    <tr class="thead">
                        <th class="font-normal" colspan="2">Fulfilled properties</th>
                    </tr>
                        {% for key, elt in collector.OpenGraphProperties %}
                        <tr>
                            <th class="font-normal text-muted">{{ key }}</th>
                            <td class="font-normal">{{ elt }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}

                   {% if collector.missingOpenGraphProperties|length > 0 and collector.OpenGraphProperties is not empty %}
                    <tr class="thead">
                        <th class="font-normal" colspan="2">Missing properties</th>
                    </tr>
                    <tr>
                        {% for elt in collector.missingOpenGraphProperties %}
                            <th class="font-normal text-muted">{{ elt }}</th>
                        {% endfor %}
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>

        <div class="tab">
            <span class="tab-title">
                {% if collector.missingTwitterProperties|length > 0 %}
                    {{ include('@ElaoAccesseo/profiler/danger.svg') }}
                {% endif %}
                Twitter card properties
            </span>
            <div class="tab-content">

                {% if collector.missingTwitterProperties|length > 0 %}
                    <div class="card status-warning">
                        <strong>Warning : missing {{ collector.missingTwitterProperties|join(', ') }} in Twitter card properties</strong>
                    </div>
                {% endif %}


                <table>
                    {% if collector.twitterProperties is not empty %}
                    <tr class="thead">
                        <th class="font-normal" colspan="2">Fulfilled properties</th>
                    </tr>
                        {% for key, elt in collector.twitterProperties %}
                        <tr>
                            <th class="font-normal text-muted">{{ key }}</th>
                            <td class="font-normal">{{ elt }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    {% if collector.missingTwitterProperties is not empty and collector.twitterProperties is not empty %}
                    <tr class="thead">
                        <th class="font-normal" colspan="2">Missing properties</th>
                    </tr>
                    <tr>
                        {% for key, elt in collector.missingTwitterProperties %}
                            <td class="font-normal text-muted">{{ elt }}</td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
