{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}

    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        {{ include('@ElaoAccesseo/profiler/204-link.svg.twig') }}
        <span class="sf-toolbar-value">SEO</span>

    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>Title</b>
            <span>{{ collector.truncatedTitle }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Meta Description</b>
            <span>{{ collector.truncatedMetaDescription }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>First H1 found</b>
            {% if collector.atLeastOneH1 %}
                <span>{{ collector.truncatedH1 }}</span>
            {% else %}
                <span>No H1 found</span>
            {% endif %}
        </div>
        <div class="sf-toolbar-info-piece">
            <b>X-Robots-Tag</b>
            <span>{{ collector.XRobotsTag }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Robots <meta> tag</b>
            <span>{{ collector.metaRobot }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Canonical</b>
            {% if collector.canonical %}
                <span>{{ collector.canonical }}</span>
            {% else %}
                <span class="help">No canonical</span>
            {% endif %}
        </div>
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}
{% block head %}
    {# Optional. Here you can link to or define your own CSS and JS contents. #}
    {# Use {{ parent() }} to extend the default styles instead of overriding them. #}
    {{ parent() }}
    <style>
        .text-warning { color: var(--color-warning); }
        .text-error { color: var(--color-error); }

        .tab-navigation li .badge.status-success { background: var(--color-success); color: #FFF; }

        .card.status-info { background-color: rgba(32, 139, 195, .2); }

        .code-inline { display: inline-block; }

        table ul li,
        table p { margin: 0; }
        table .small-cell { width: 45px; }

        .icon-danger {
            fill: var(--base-5);
            background: #fff !important;
            border-radius: 50px;
        }

        .icon-danger.status-error {
            fill: var(--color-error);
        }

        .sf-tabs .icon-danger {
            vertical-align: middle;
            border: solid 1px #fff;
        }

        .headings-tree {
            padding: 0 0 0 20px;
            list-style:  none;
        }

        .headings-tree:first-child {
            padding:  0;
        }
    </style>
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">
            {{ include('@ElaoAccesseo/profiler/204-link.svg.twig') }}
        </span>
        <strong>SEO</strong>
    </span>
{% endblock %}

{% block panel %}
    {# Optional, for showing the most details. #}
    <h2>SEO insights ✨</h2>

    <h3>Page structure</h3>
    <table>
        <tbody>
            <tr>
                <th class="font-normal text-muted">Title</th>
                {# Todo : est-ce possible de récupérer le texte brut ici ⬇ ? #}
                <td class="font-normal">
                    <strong>{{ collector.title }}</strong>
                    {% if collector.title|length == 0 %}
                        <div class="card status-warning">
                            <strong>Warning : missing title (recommended : 50 - 60 characters)</strong>
                        </div>
                    {% else %}
                        <p>
                            <small class="text-muted">{{ collector.title|length }} characters (recommended : 50 - 60 characters)</small>
                        </p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="font-normal text-muted">Meta description</th>
                {# Todo : ici aussi ⬇ #}
                <td class="font-normal">
                    <strong>{{ collector.metaDescription }}</strong>
                    {% if collector.metaDescription|length == 0 %}
                        <div class="card status-warning">
                            <strong>Warning : meta description is missing (recommended : 50 - 160 characters)</strong>
                        </div>
                    {% else %}
                        <p>
                            <small class="text-muted">{{ collector.metaDescription|length }} characters (recommended : 50 - 160 characters)  </small>
                        </p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="font-normal text-muted">First H1</th>
                {# Todo : ici aussi ⬇ #}
                <td class="font-normal">
                    <strong>{{ collector.h1 }}</strong>
                </td>
            </tr>
            <tr>
                <th class="font-normal text-muted">Headings</th>
                <td class="font-normal">
                    {% set headings = collector.headlinesTree %}
                    {% set level = 1 %}
                    {% block treeHeading %}
                        <ul class="headings-tree">
                            {% for heading in headings %}
                                {# Todo : ne pas se reposer uniquement sur la couleur pour alerter
                                    - si les titres respectent l'ordre
                                    <li>
                                        <strong>h{{ heading.level }}:</strong> {{ heading.content }}
                                    </li>

                                    - si les titres ne respectent pas l'ordre
                                    <li>
                                        {{ include('@ElaoAccesseo/profiler/danger.svg') }}
                                        <span>
                                            <strong>h{{ heading.level }}:</strong> {{ heading.content }}
                                        </span>
                                    </li>
                                #}

                                <li>
                                    <span class="{{ level != heading.level ? 'text-warning' }}">
                                        <strong>H{{ heading.level }}:</strong> {{ heading.content }}
                                    </span>
                                </li>
                                {% set headings = heading.children %}
                                {% set level = level+1 %}
                                {{ block ("treeHeading") }}
                                {% set level = level-1 %}
                            {% endfor %}
                        </ul>
                    {% endblock %}
                </td>
            </tbody>
        </tr>
    </table>

    {#
        Todo : afficher si l'un des titres ne respecte pas l'ordre
        <div class="card status-error">
            <strong>Error : au moins 1 titre ne respecte pas la structure.</strong>
        </div>
     #}

    <h3>Robots directives</h3>
    {# Todo : if missing meta, show alert (mandatory meta) or warning (recommended meta)
        <div class="card status-warning">
            <strong>Warning : Missing hreflang on this page.</strong>
        </div>
        <div class="card status-error">
            <strong>Error : Missing XRobotsTag on this page.</strong>
        </div>
    #}
    <table>
        <tr>
            <th class="font-normal text-muted">Canonical URL</th>
            {% if collector.canonical %}
                <td>
                    <a href="{{ collector.canonical }}">{{ collector.canonical }}</a>
                </td>
            {% else %}
                <td class="font-normal">
                    No canonical
                </td>
            {% endif %}
        </tr>
        <tr>
            <th class="font-normal text-muted">Language</th>
            <td>{{ collector.language }}</td>
        </tr>
        <tr>
            <th class="font-normal text-muted">Hreflang</th>
            {% if collector.isHrefLang %}
                <td>
                    {% for href in collector.hreflang %}
                        <div>
                            {{ href['hreflang'] }}
                            (<a href="{{ href['href'] }}">{{ href['href'] }}</a>)
                        </div>
                    {% endfor %}
                </td>
            {% else %}
                <td class="font-normal">No hreflang</td>
            {% endif %}
        </tr>
        <tr>
            <th class="font-normal text-muted">Robots meta directives</th>
            <td>{{ profiler_dump(collector.seek('metaRobot')) }}</td>
        </tr>
        <tr>
            <th class="font-normal text-muted">Googlebot meta directives</th>
            <td>{{ profiler_dump(collector.seek('metaGooglebot')) }}</td>
        </tr>
        <tr>
            <th class="font-normal text-muted">Googlebot-news meta directives</th>
            <td>{{ profiler_dump(collector.seek('metaGooglebotNews')) }}</td>
        </tr>
    </table>

    {#
        Todo : replace this

        <div class="metrics">
            <div class="metric">
                <span class="value">
                    {% if collector.XRobotsTag %}
                        {{ collector.XRobotsTag }}
                    {% else %}
                        {{ include('@WebProfiler/Icon/no-gray.svg') }}
                    {% endif %}
                </span>
                <span class="label">X-Robots-Tag</span>
            </div>
            <div class="metric">
                <span class="value">
                    {% if collector.isHreflang %}
                        {{ include('@WebProfiler/Icon/yes.svg') }}
                    {% else %}
                        {{ include('@WebProfiler/Icon/no-gray.svg') }}
                    {% endif %}
                </span>
                <span class="label">Hreflang</span>
            </div>
        </div>

        with this

        <div class="card status-warning">
            <strong>Warning : Missing hreflang on this page.</strong>
        </div>

        <div class="card status-error">
            <strong>Error : Missing XRobotsTag on this page.</strong>
        </div>
    #}


    <h3>Social Media metas</h3>
    <div class="sf-tabs">
        <div class="tab">
            <span class="tab-title">
                {#  Todo : If at least one missing property, show icon
                    {{ include('@ElaoAccesseo/profiler/danger.svg') }}
                #}
                </svg>
                <span class="badge">{{ collector.OpenGraphProperties|length }}</span>
                Opengraph properties
            </span>
            <div class="tab-content">
                {# Todo : display card if missing property #}
                {# <div class="card status-warning">
                    <strong>Warning : missing "title", "description" in Opengraph properties</strong>
                </div> #}
                <table>
                    <tr>
                        <th class="font-normal text-muted">Fulfilled properties</th>
                        <td>
                            {{ profiler_dump(collector.seek('OpenGraphProperties'), maxDepth=1) }}
                            {# Todo : est-ce possible de récupérer le texte brut ici ? Exemple :
                                <div class="font-normal"><strong>Title :</strong> Création et développement d'applications web et mobile sur-mesure à Lyon"</div>
                                <div class="font-normal"><strong>Description :</strong> Création et développement d'applications web et mobile sur-mesure à Lyon"</div>
                             #}
                        </td>
                    </tr>
                    <tr>
                        <th class="font-normal text-muted">Missing properties</th>
                        <td>
                            {{ profiler_dump(collector.seek('missingOpenGraphProperties'), maxDepth=1) }}
                            {# Todo : Texte brut ici aussi ? Exemple :
                                <div class="font-normal"><strong>Image</strong></div>
                                <div class="font-normal"><strong>Creator</strong></div>
                            #}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="tab">
            <span class="tab-title">
                {#  Todo : If at least one missing property, show icon
                    {{ include('@ElaoAccesseo/profiler/danger.svg') }}
                #}
                </svg>
                <span class="badge">{{ collector.twitterProperties|length }}</span>
                Twitter card properties
            </span>
            <div class="tab-content">
                {# Todo : display card if missing property #}
                {# <div class="card status-error">
                    <strong>Error : missing "title", "description" in Twitter card properties</strong>
                </div> #}
                <table>
                    <tr>
                        <th class="font-normal text-muted">Fulfilled properties</th>
                        <td class="font-normal">
                            {{ profiler_dump(collector.seek('twitterProperties'), maxDepth=1) }}
                            {# Todo : Texte brut ici aussi ? #}
                        </td>
                    </tr>
                    <tr>
                        <th class="font-normal text-muted">Missing properties</th>
                        <td class="font-normal">
                            {{ profiler_dump(collector.seek('missingTwitterProperties'), maxDepth=1) }}
                            {# Todo : Texte brut ici aussi ? #}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
